<div class="products">
  <div class="products__actions">
    <div class="search-field form-control">
      <input
        type="text"
        placeholder="Buscar..."
        [formControl]="searchControl"
      />
    </div>

    <a routerLink="/producto" class="btn btn--primary btn--link">Agregar</a>
  </div>

  <div class="products__table">
    <div class="table-container">
      <div class="table-container__wrapper">
        <table>
          <tr>
            <th class="center-align">Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de revisión</th>
          </tr>

          <tr *ngFor="let product of productsToShow$ | async">
            <td class="center-align img-cell">
              <img [src]="product.logo" alt="logo" />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release }}</td>
            <td>{{ product.date_revision }}</td>
          </tr>
        </table>
      </div>

      <div class="table-container__results-num">
        <div class="total">{{ numResults + " Resultados" }}</div>

        <select
          name="page-size"
          id="page-size"
          class="max-results"
          [formControl]="maxResultsControl"
        >
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
        </select>
      </div>
    </div>
  </div>
</div>
