<div class="products">
  <div class="search-field form-control">
    <input type="text" placeholder="Buscar..." [formControl]="searchControl" />
  </div>

  <div class="table-container">
    <div class="table-container__table">
      <div class="table-wrapper">
        <table>
          <tr>
            <th class="center-align">Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de revisión</th>
          </tr>

          <tr *ngFor="let product of filteredProducts$ | async">
            <td class="center-align img-cell">
              <img [src]="product.logo" alt="logo" />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.date_release }}</td>
            <td>{{ product.date_revision }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="table-container__paginator">
      <div class="num-results">{{ numResults + " Resultados" }}</div>

      <select name="page-size" id="page-size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">20</option>
      </select>
    </div>
  </div>
</div>
