<div class="product">
  <form class="product-form">
    <legend class="product-form__legend">Formulario de Registro</legend>
    <div class="product-form__body">
      <div class="form-control">
        <label for="id" class="form-control__label">ID</label>
        <input type="text" id="id" class="form-control__field" />
      </div>

      <div class="form-control">
        <label for="id" class="form-control__label">Nombre</label>
        <input type="text" id="name" class="form-control__field" />
      </div>

      <div class="form-control">
        <label for="id" class="form-control__label">Descripción</label>
        <input type="text" id="desc" class="form-control__field" />
      </div>

      <div class="form-control">
        <label for="id" class="form-control__label">Logo</label>
        <input type="text" id="logo" class="form-control__field" />
      </div>

      <div class="form-control">
        <label for="id" class="form-control__label">Fecha Liberación</label>
        <input type="date" id="lib-date" class="form-control__field" />
      </div>

      <div class="form-control">
        <label for="id" class="form-control__label">Fecha Revisión</label>
        <input type="date" id="rev-date" class="form-control__field" />
      </div>
    </div>
    <div class="product-form__actions">
      <button class="btn btn--secondary">Reiniciar</button>
      <button class="btn btn--primary">Enviar</button>
    </div>
  </form>
</div>
