.toast {
  width: 300px;
  color: var(--color-white);
  background-color: var(--color-gray);
  font-weight: bold;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;

  &--success {
    background-color: var(--color-green);
  }

  &--error {
    background-color: var(--color-red);
  }
}
